.header
  border-bottom: 1px solid c.grey1
  padding 0px 20px
  margin 0 0 10px 0
  > .logo
    float left
    width 50px
    height 50px
    padding 10px 0
    > svg
      width inherit
      height inherit
  > .menu
    float left
    margin 0 0 -1px 20px
    > .item
      cursor pointer
      display inline-block
      padding 25px 20px 21px 20px
      font f_copy2
      text-transform uppercase
      &:hover
        text-decoration underlin
      &.active
        font-weight bold
        border-bottom: 1px solid c.purple1
