
.header
  .inner
    a.logo(href='#home',data-section='home')
      include ../../pub/svg/logo.svg

    .menu
      a.item(href='#services',data-section='services') services
      a.item(href='#about',data-section='about') about

    .clear
