
.header
  .inner
    a.logo.i_home.active(href='#home',data-section='home')
      include ../../pub/svg/logo.svg

    .menu
      a.item.i_services(href='#services',data-section='services') services
      a.item.i_about(href='#about',data-section='about') about

    a.contact(href="http://www.google.com/recaptcha/mailhide/d?k=01VleS_TGVEKuo2tVe_RieJQ==&amp;c=F41Id9pQApr5p2pUqYSh1wEYkp636YQywcXy7qRo0oE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501VleS_TGVEKuo2tVe_RieJQ\75\75\46c\75F41Id9pQApr5p2pUqYSh1wEYkp636YQywcXy7qRo0oE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address") contact
    .clear
