
.header
  .inner
    a.logo.i_home(href='#home',data-section='home')
      include ../../pub/svg/logo.svg

    .menu
      a.item.i_services(href='#services',data-section='services') services
      a.item.i_about(href='#about',data-section='about') about

    .clear
