
extends ../inc/layout

block content
  .guide
    .title Bronsec Style Guide

    .sections
      .section.colors
        .title Colors
        each color, name in data.colors
          .color(class='color_'+name) #{name} (#{color})
      .section.fonts
        .title Fonts

        .font.font_f_copy f_copy 18px Bookman Old Style, Verdana
        .font.font_f_copy2 f_copy2 24px Bookman Old Style, Verdana
        .font.font_f_h1 f_h1 32px Bookman Old Style, Verdana
      .clear
