.guide {
  padding: 50px 0 0 0;
  background-color: #fff;
}
.guide > .title {
  font: 32px Bookman Old Style, Verdana;
  padding: 0 0 0 50px;
  text-transform: uppercase;
}
.guide > .sections {
  padding: 20px;
}
.guide > .sections > .section {
  width: 33%;
  float: left;
}
.guide > .sections > .section > .color {
  padding: 10px 20px;
  margin: 5px;
}
.guide > .sections > .section > .color.color_black1 {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_white1 {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_grey1 {
  background-color: #f2f2f2;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_grey2 {
  background-color: #ededed;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_purple1 {
  background-color: #d300ff;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_purple2 {
  background-color: #76009b;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .font {
  padding: 10px 20px;
  margin: 5px;
  background-color: #fff;
  white-space: nowrap;
  overflow-x: scroll;
}
.guide > .sections > .section > .font.font_f_copy {
  font: 16px Bookman Old Style, Verdana;
}
.guide > .sections > .section > .font.font_f_h1 {
  font: 32px Bookman Old Style, Verdana;
}
.header {
  border-bottom: 1px solid #f2f2f2;
  padding: 0px 20px;
  margin: 0 0 10px 0;
}
.header > .logo {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px 0;
}
.header > .logo > svg {
  width: inherit;
  height: inherit;
}
.header > .menu {
  float: left;
  margin: 20px 0 0 20px;
}
.header > .menu > .item {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}
.header > .menu > .item:hover {
  text-decoration: underlin;
}
.header > .menu > .item.active {
  font-weight: bold;
}
.t {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.t {
  -webkit-animation: rightslide 2s 0s linear alternate infinite;
  -moz-animation: rightslide 2s 0s linear alternate infinite;
  -o-animation: rightslide 2s 0s linear alternate infinite;
  -ms-animation: rightslide 2s 0s linear alternate infinite;
  animation: rightslide 2s 0s linear alternate infinite;
}
.t:nth-child(0) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.t:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.t:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.t:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.t:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.t:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.t:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.t:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.t:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.t:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.t:nth-child(10) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.t:nth-child(11) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.t:nth-child(12) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@-moz-keyframes rightslide {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rightslide {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes rightslide {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rightslide {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  font: 16px Bookman Old Style, Verdana;
}
.container {
  background-color: #f2f2f2;
}
.index {
  padding: 20px;
}
.index > .logo {
  background-image: url("/img/bronsec.png");
  width: 578px;
  height: 178px;
  margin: auto;
}
