.index
  min-height 2000px
  padding 80px 20px 20px 20px
  > .logo
    background-image url(/img/bronsec.png)
    width 578px
    height 178px
    margin auto
    background-size cover
  > .section
    border-top: 1px solid c.grey1
    padding 20px 60px
    font-size 20px
    line-height 30px
    > .inner
      max-width 960px
      margin auto
    &.about > .inner > .copy
      float left
      width 50%
    &.about > .inner > .photo
      float left
      height 350px
      width 50%
      > .inner
        background-image url(/img/josha-suit.jpg)
        margin 20px
        height 100%
        background-size cover
        background-repeat no-repeat
        background-position 50% 18%

@media all and (min-width: 1px) and (max-width: 1000px)
  .index
    padding 110px 10px 10px 10px
    > .logo
      width 375px
      height 110px
      background-size 115%
      background-repeat no-repeat
      background-position 50% 50%

    > .section
      padding 0px 20px
      line-height 20px
      font-size 18px
  
