.index
  padding 20px
  > .logo
    background-image url(/img/bronsec.png)
    width 578px
    height 178px
    margin auto
  > .about
    padding 20px 60px
    max-width 960px
    margin auto
    font-size 20px
