extends inc/layout

block content
  .index 
    .logo

    .landing.section
      .inner
        .copy
          each p in data.landing.copy
            p=p

    .about.section
      .inner
        .photo
          .inner
        .copy
          each p in data.about.copy
            p=p
        .clear

    .services.section
      .inner
        each service in data.services
          .service
            .title=service.name
            ul
            each item in service.services
              li=item


  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
